<!-- templates/category/confirm_delete_category.html -->

{% extends 'base.html' %}

{% block content %}
    <div class='title_subtitle'>
        <h1 class='title'>{{ title }} - {{ item_name }} Item</h1>
        <h2 class='subtitle'>{{ subtitle }}</h2>
    </div> <!-- /.title_subtitle -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class='notification is-danger'>
                {{ messages[0] }}. Go to <a href='{{ url_for("auth_bp.login") }}'>Delete Item Confirmation</a>
            </div> <!-- /.notification -->
        {% endif %}
    {% endwith %}

    <div class='container table_main columns is-mobile is-centered'>
        <p>Are you sure you want to delete the Item <strong>{{ item_name }}</strong></p>
    </div> <!-- /.container -->

    {% if current_user.is_authenticated and current_user.is_owner_item(item_name) %}
        <div class='container'>
            <a class='button is-success is-outlined'
               href='{{ url_for("catalog_bp.index") }}'>
                Cancel
            </a><!--'{ url_for("category_bp.delete") }}'>-->
            <a class='button is-danger is-outlined'
               href='{{ url_for("item_bp.delete", item_name=item_name) }}'>
                Delete
            </a>
        </div> <!-- /.container -->
    {% endif %}
{% endblock %}